pool:
  vmImage: 'Ubuntu 16.04'

variables:
  azureSubscriptionEndpoint: ARMPre2015
  azureContainerRegistry: sparreio.azurecr.io

name: $(Date:yyyyMMdd)$(Rev:.rrr)-$(Build.SourceBranchName)

steps:
- task: DockerCompose@0
  displayName: Build services
  inputs:
    action: Build services
    azureSubscriptionEndpoint: $(azureSubscriptionEndpoint)
    azureContainerRegistry: $(azureContainerRegistry)
    dockerComposeFile: docker-compose.yml
    qualifyImageNames: true
    additionalImageTags: $(Build.BuildNumber)

