pool:
  vmImage: 'Ubuntu 16.04'

variables:
  azureSubscriptionEndpoint: ARMPre2015
  azureContainerRegistry: sparreio.azurecr.io

name: $(Date:yyyyMMdd)$(Rev:.rrr)-$(Build.SourceBranchName)

steps:
- task: DockerCompose@0
  displayName: Build service images
  inputs:
    action: Build services
    azureSubscriptionEndpoint: $(azureSubscriptionEndpoint)
    azureContainerRegistry: $(azureContainerRegistry)
    dockerComposeFile: docker-compose.yml
    qualifyImageNames: true
    additionalImageTags: $(Build.BuildNumber)
    includeLatestTag: false

- task: DockerCompose@0
  displayName: Push service images
  inputs:
    action: Push services
    azureSubscriptionEndpoint: $(azureSubscriptionEndpoint)
    azureContainerRegistry: $(azureContainerRegistry)
    dockerComposeFile: docker-compose.yml
    additionalDockerComposeFiles: docker-compose.ci.yml
    qualifyImageNames: true
    additionalImageTags: $(Build.BuildNumber)
    includeLatestTag: false

- task: Bash@3
  displayName: Create deployment file
  inputs:
    targetType: inline
    script: | 
      sed 's/{{REGISTRY}}/$(azureContainerRegistry)/g' docker-compose-azdeploy-template.yml > docker-compose-azdeploy.yml
      sed -i 's/{{BUILDNUMBER}}/$(Build.BuildNumber)/g' docker-compose-azdeploy.yml
      cat docker-compose-azdeploy.yml

- task: PublishPipelineArtifact@0
  displayName: Publish deployment file
  inputs:
    targetPath: docker-compose-azdeploy.yml